body {
    background: green url('/images/grass.jpg');
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
}

a {
    color: #229E00;
    text-decoration: none;
}

a:hover {
    color: #115100;
}

#header {
    background-color: #000;
    color: #fff;
    width: 800px;
    padding: 20px;
}

#logo {
    background-color: #000;
    color: #fff;
    padding: 10px;
}

#navigation {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: right;
}

#navigation li {
    float: left;
}

#navigation li a {
    color: #fff;
    font-size: 1.2em;
    padding: 10px;
}

#wrapper {
    background-color: #fff;
    width: 800px;
    padding: 20px;
}

#footer {
    width: 800px;
    background-color: #000;
    color: #fff;
    padding: 20px;
    font-size: 0.8em;
    text-align: right;
}
